# Nmap module
python-libnmap
gevent-websocket
redis
apscheduler
fabric<2
pyYAML
jinja2
mock
six>=1.7
coverage
boto3
flask
enum
requests
gevent>=23.9.0 # not directly required, pinned by Snyk to avoid a vulnerability
